@using Sitecore.Mvc
<h1>5 Rendering Item Cached Statically Bound Renderings</h1>
@Html.Sitecore().Rendering("{F42D820B-351C-47D9-9AF2-0E886F50B636}")
@Html.Sitecore().Rendering("{F42D820B-351C-47D9-9AF2-0E886F50B636}")
@Html.Sitecore().Rendering("{F42D820B-351C-47D9-9AF2-0E886F50B636}")
@Html.Sitecore().Rendering("{F42D820B-351C-47D9-9AF2-0E886F50B636}")
@Html.Sitecore().Rendering("{F42D820B-351C-47D9-9AF2-0E886F50B636}")
